h1 {
font-family: 'Titan One', cursive;
background: pink;
text-align: center;
color: blueviolet;
}
header {
    position: 0;
}

#articles {
    background: lightblue;
}

#notes {
    background: hotpink;
}
img {
    width: 300px;
}

