h1 {
font-family: 'Titan One', cursive;
background: pink;
text-align: center;
color: blueviolet;
}

div {
    background: lightblue;
    padding: 10px;
    margin: 10px;
}

#indexNotes {
    background: hotpink;
}
img {
    width: 300px;
}
td {
    width:10%;
}